@using ReadersRealm.Data.Models.Enums
@using ReadersRealm.ViewModels.Category
@using ReadersRealm.ViewModels.Author
@model CreateBookViewModel

<form method="post" enctype="multipart/form-data" class="w-100" style="display: flex; -o-justify-content: center; -webkit-justify-content: center; justify-content: center;">
    <div class="border p-3 mt-4 w-50 px-4 border-black">
        <div class="row pb-2">
            <h2 class="text-primary">Create Book</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Description"></label>
            <textarea type="text" class="form-control" asp-for="Description" style="max-height: 200px;"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="ISBN"></label>
            <input type="text" class="form-control" asp-for="ISBN">
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0 text-dark" asp-for="Price"></label>
            <input type="number" class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Pages"></label>
            <input type="number" class="form-control" asp-for="Pages">
            <span asp-validation-for="Pages" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="BookCover"></label>
            <select asp-for="BookCover" name="BookCover">
                <option value="" disabled selected>Select book cover</option>
                @foreach (BookCover coverType in Enum.GetValues(typeof(BookCover)))
                {
                    <option value="@coverType">@coverType</option>
                }
            </select>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Used"></label>
            <div style="display: flex; gap: 0.4rem">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Used" asp-for="Used" value="true">
                    <label class="form-check-label" asp-for="Used">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Used" asp-for="Used" value="false">
                    <label class="form-check-label" asp-for="Used">
                        No
                    </label>
                </div>
            </div>
            <span asp-validation-for="Used" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="AuthorId"></label>
            <select asp-for="AuthorId" name="AuthorId">
                <option value=@Guid.Empty disabled selected>Select book author</option>
                @foreach (AllAuthorsListViewModel authorModel in Model.AuthorsList!)
                {
                    <option value="@authorModel.Id">@($"{authorModel.FirstName} {authorModel.LastName}")</option>
                }
            </select>
            <span asp-validation-for="AuthorId" class="text-danger mb-2"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="CategoryId"></label>
            <select asp-for="CategoryId" name="CategoryId">
                <option value=0 disabled selected>Select book category</option>
                @foreach (AllCategoriesListViewModel categoryModel in Model.CategoriesList!)
                {
                    <option value="@categoryModel.Id">@categoryModel.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ImageUrl" class="row"></label>
            <input type="file" name="file" class="form-control" value="">
        </div>
        <div class="row">
            <div class="col-6">
                <a asp-controller="Book" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back To List
                </a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary bg-black text-white form-control">Create</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | tinycomments | numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
