@model PaginatedList<AllBooksViewModel>

<partial name="_NotificationPartialView" />

<div class="row mb-2">
    <form asp-controller="Book" asp-action="Index" method="get" class="col-8" style="display: flex">
        <div class="col-3 px-0">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchTerm" value="@ViewBag.SearchTerm">
        </div>
        <div class="col-3 px-0">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>
    <div class="col-4" style="display: flex; justify-content: end">
        <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
            <i class="bi"></i> Create A New Book
        </a>
    </div>
</div>
@if (Model.Count != 0)
{
    <table class="table table-bordered table-striped border-black" style="width: 100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (AllBooksViewModel bookModel in @Model)
        {
            <tr>
                <td>
                    @bookModel.Title
                </td>
                <td>
                    @bookModel.ISBN
                </td>
                <td>
                    @bookModel.Price
                </td>
                <td>
                    @(bookModel.Author.FirstName + " " + bookModel.Author.LastName)
                </td>
                <td>
                    @bookModel.Category.Name
                </td>
                <td>
                    <div class="w-100">
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@bookModel.Id" asp-route-pageIndex=@Model.PageIndex asp-route-searchTerm="@ViewBag.SearchTerm" class="btn btn-primary btn-sm" style="font-size: 13px">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@bookModel.Id" class="btn btn-danger btn-sm" style="font-size: 13px">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1>No products found!</h1>
}

<partial name="_PaginationPartialView"/>