@using ReadersRealm.ViewModels.Category
@model ReadersRealm.Common.PaginatedList<AllBooksViewModel>

<partial name="_NotificationPartialView" />
<div class="container p-0">
    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Create A New Book
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped border-black" style="width:100%">
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Author</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (AllBooksViewModel bookModel in @Model)
    {
        <tr>
            <td>
                @bookModel.Title
            </td>
            <td>
                @bookModel.Price
            </td>
            <td>
                @bookModel.Description
            </td>
            <td>
                @(bookModel.Author.FirstName + " " + bookModel.Author.LastName)
            </td>
            <td>
                @bookModel.Category.Name
            </td>
            <td>
                <div class="w-100">
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@bookModel.Id" asp-route-pageIndex=@Model.PageIndex class="btn btn-primary btn-sm" style="font-size: 13px">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@bookModel.Id" class="btn btn-danger btn-sm" style="font-size: 13px">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    bool prevDisabled = !Model.HasPreviousPage ? true : false;
    bool nextDisabled = !Model.HasNextPage ? true : false;
}

@if (prevDisabled)
{
    <button asp-controller="Book" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex - 1) class="btn btn-primary" disabled="">Previous</button>
}
else
{
    <a asp-controller="Book" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex - 1) class="btn btn-primary">Previous</a>

}

@if (nextDisabled)
{
    <button asp-controller="Book" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex + 1) class="btn btn-primary" disabled>Next</button>
}
else
{
    <a asp-controller="Book" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex + 1) class="btn btn-primary">Next</a>
}