@using ReadersRealm.Web.ViewModels.ShoppingCart
@model ReadersRealm.Web.ViewModels.ShoppingCart.AllShoppingCartsListViewModel
<form method="post">
    <input asp-for="OrderHeader.ApplicationUserId" value="@Model.OrderHeader.ApplicationUserId" type="hidden">
    <input asp-for="OrderHeader.Id" value="@Model.OrderHeader.Id" type="hidden">
    <section class="container">
        <article class="card shadow border-0">
            <section class="card-body">
                <div class="col-12 col-md-12" style="margin: 1rem 0 0 1rem">
                    <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-outline-dark text-uppercase">
                        <small>Back to cart</small>
                    </a>
                </div>
                <section class="container rounded p-2">
                    <div class="row">
                        <aside class="col-12 col-lg-6 pb-4">
                            <header>
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Shipping Details:</span>
                                </h4>
                            </header>
                            <fieldset>
                                <div class="form-group row my-1">
                                    <label class="col-3">First Name</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.FirstName" class="form-control" />
                                        <span asp-validation-for="OrderHeader.FirstName"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">Last Name</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.LastName" class="form-control" />
                                        <span asp-validation-for="OrderHeader.LastName"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">Phone</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PhoneNumber"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">Street Address</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                        <span asp-validation-for="OrderHeader.StreetAddress"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">City</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.City" class="form-control" />
                                        <span asp-validation-for="OrderHeader.City"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">State</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.State" class="form-control" />
                                        <span asp-validation-for="OrderHeader.State"></span>
                                    </div>
                                </div>
                                <div class="form-group row my-1">
                                    <label class="col-3">Postal Code</label>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PostalCode" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PostalCode"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </aside>
                        <aside class="col-12 col-lg-5 offset-lg-1">
                            <header>
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Order Summary:</span>
                                </h4>
                            </header>
                            <ul class="list-group mb-3">
                                @foreach (ShoppingCartViewModel shoppingCartModel in Model.ShoppingCartsList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@shoppingCartModel.Book.Title</h6>
                                            <small class="text-muted">Quantity: @shoppingCartModel.Count</small>
                                        </div>
                                        <span class="text-muted">@shoppingCartModel.Book.Price.ToString("c") * @shoppingCartModel.Count</span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span class="text-info">Total (USD)</span>
                                    <strong>@Model.OrderHeader.OrderTotal.ToString("c")</strong>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </section>
            </section>
            <footer class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color: maroon; font-size: 14px;">
                            Estimate Arrival Date: @(DateTime.Now.AddDays(7).ToShortDateString() + "-" + DateTime.Now.AddDays(14).ToShortDateString())
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button asp-area="Customer" asp-controller="ShoppingCart" asp-action="Summary" type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
                    </div>
                </div>
            </footer>
        </article>
    </section>
</form>
