@model PaginatedList<ReadersRealm.Web.ViewModels.Book.AllBooksViewModel>

<partial name="_NotificationPartialView" />
<section class="row pb-3">
    @foreach (var book in Model)
    {
        <article class="col-lg-3 col-sm-6">
            <section class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (book.ImageUrl != null)
                        {
                            <img src="@book.ImageUrl" class="card-img-top rounded" alt="@book.Title cover image" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" alt="Default book cover image" />
                        }
                        <div class="card-body pb-0">
                            <header>
                                <h3 class="card-title text-dark opacity-75 text-uppercase text-center h4">@book.Title</h3>
                                <p class="card-title text-warning text-center">by <strong>@(book.Author.FirstName + " " + book.Author.LastName)</strong></p>
                            </header>
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                Price:
                                <span>
                                    <b>@book.Price.ToString("c")</b>
                                </span>
                            </p>
                        </div>
                        <footer>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </footer>
                    </div>
                </div>
            </section>
        </article>
    }
</section>

<partial name="_PaginationPartialView" />