@model PaginatedList<ReadersRealm.Web.ViewModels.Book.AllBooksViewModel>

<partial name="_NotificationPartialView" />
<div class="row pb-3">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (book.ImageUrl != null)
                        {
                            <img src="@book.ImageUrl" class="card-img-top rounded" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }
                        <div class="card-body pb-0">
                            <div>
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@book.Title</p>
                                <p class="card-title text-warning text-center">by <b>@(book.Author.FirstName + " " + book.Author.LastName)</b></p>
                            </div>
                            <div>
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Price:
                                    <span>
                                        @book.Price.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@{
    bool prevDisabled = !Model.HasPreviousPage ? true : false;
    bool nextDisabled = !Model.HasNextPage ? true : false;
}

<nav>
    <ul class="row p-0">
        <li class="page-item col-6" style="display: flex; justify-content: start">
            @if (prevDisabled)
            {
                <button asp-area="Customer" asp-controller="Home" asp-action="Index" class="page-link" disabled>
                    <span style="font-size: 1rem" class="btn btn-outline-danger">Previous</span>
                </button>
            }
            else
            {
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-searchTerm="@ViewBag.SearchTerm" class="page-link">
                    <span style="font-size: 1rem" class="btn btn-outline-dark">Previous</span>
                </a>
            }
        </li>
        <li class="page-item col-6" style="display: flex; justify-content: end">
            @if (nextDisabled)
            {
                <button asp-area="Customer" asp-controller="Home" asp-action="Index" class="page-link" disabled>
                    <span style="font-size: 1rem" class="btn btn-outline-danger">Next</span>
                </button>
            }
            else
            {
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-searchTerm="@ViewBag.SearchTerm" class="page-link">
                    <span style="font-size: 1rem" class="btn btn-outline-dark">Next</span>
                </a>
            }
        </li>
    </ul>
</nav>