@using ReadersRealm.ViewModels.OrderDetails
@model DetailsOrderViewModel

@{
    bool isUserEmployeeOrAdmin = User.IsInRole(AdminRole) || User.IsInRole(EmployeeRole);
}

<partial name="_NotificationPartialView" />
<form method="post">
    <input asp-for="OrderHeader.ApplicationUserId" hidden/>
    <input asp-for="OrderHeader.Id" hidden/>
    <input asp-for="OrderHeader.OrderStatus" hidden/>
    <input asp-for="OrderHeader.OrderTotal" hidden/>
    <div class="container">
        <div class="card">
            <div class="col-12 col-md-12" style="margin: 1rem 0 0 1rem">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-outline-primary bg-gradient fw-semibold btn-outline-dark text-uppercase">
                    <small>Back To All Orders</small>
                </a>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.FirstName" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.FirstName" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.LastName" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.LastName" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PhoneNumber" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PhoneNumber" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.StreetAddress" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.StreetAddress" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.City" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.City" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.State" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.State" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PostalCode" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PostalCode" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.OrderDate" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.OrderDate" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.Carrier" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.Carrier" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking Number</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.TrackingNumber" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.TrackingNumber" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.ShippingDate" readonly class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.ShippingDate" readonly class="form-control" disabled/>
                                    }
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Session ID</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.SessionId" readonly class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.SessionId" readonly class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Intent ID</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentIntentId" readonly class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentIntentId" readonly class="form-control" disabled/>
                                    }
                                </div>
                            </div>

                            <div class="row my-1">

                                <div class="col-3">Payment Due Date</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentDueDate" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentDueDate" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">

                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentDate" class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentDate" class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    @if (isUserEmployeeOrAdmin)
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentStatus" readonly class="form-control"/>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="OrderHeader.PaymentStatus" readonly class="form-control" disabled/>
                                    }
                                </div>
                            </div>
                            @if (isUserEmployeeOrAdmin)
                            {
                                <input type="submit" class="btn btn-warning form-control my-1" value="Update Order Details"/>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>
                            <ul class="list-group mb-3">
                                @foreach (OrderDetailsViewModel orderDetailsModel in Model.OrderDetailsList)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@orderDetailsModel.Book.Title</h6>
                                                <small class="text-muted">Price : @orderDetailsModel.Book.Price.ToString("c")</small><br/>
                                                <small class="text-muted">Quantity : @orderDetailsModel.Count</small>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row">
                                        <div class="col-6 text-start">
                                            <h5 class="text-white">Total: </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (User.IsInRole(CompanyRole) &&
                                 Model.OrderHeader.PaymentStatus == PaymentStatusDelayedPayment ||
                                 Model.OrderHeader.OrderStatus == OrderStatusShipped)
                            {
                                <button asp-action="PayForOrder" type="submit" class="btn btn-success form-control my-1 rounded-2">Pay Now</button>
                            }

                            @if (isUserEmployeeOrAdmin)
                            {
                                @if (Model.OrderHeader.OrderStatus == OrderStatusApproved)
                                {
                                    <button asp-action="StartProcessingOrder" asp-route-orderHeaderId="@Model.OrderHeaderId" asp-route-pageIndex="@ViewBag.PageIndex" asp-route-searchTerm="@ViewBag.SearchTerm" type="submit" class="btn btn-primary form-control my-1 rounded-2">Start Processing</button>
                                }

                                @if (Model.OrderHeader.OrderStatus == OrderStatusInProcess)
                                {
                                    <button asp-action="ShipOrder" asp-route-orderHeaderId="@Model.OrderHeaderId" asp-route-pageIndex="@ViewBag.PageIndex" asp-route-searchTerm="@ViewBag.SearchTerm" type="submit" class="btn btn-primary form-control my-1 rounded-2">Ship Order</button>
                                }

                                @if (Model.OrderHeader.PaymentStatus != PaymentStatusRefunded &&
                                     Model.OrderHeader.OrderStatus != OrderStatusCancelled && 
                                     Model.OrderHeader.OrderStatus != OrderStatusShipped)
                                {
                                    <button asp-action="CancelOrder" type="submit" class="btn btn-danger form-control my-1 rounded-2">Cancel Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>